<%= form_for @dgital, :html => { :class => "form-horizontal dgital", :multipart => true } do |f| %>

  <% if @dgital.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@dgital.errors.count, "error") %> prohibited this dgital from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @dgital.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :intro, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :intro, :class => 'form-control' %>
    </div>
    <%=f.error_span(:intro) %>
  </div>
  <div class="form-group">
    <%= f.label :link, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :link, :class => 'form-control' %>
    </div>
    <%=f.error_span(:link) %>
  </div>
  <!-- <div class="form-group">
    <%= f.label :image, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :image %>
    </div>
    <%=f.error_span(:image) %>
  </div> -->
  <div class="form-group">
    <%= f.label :image, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= image_tag(@dgital.image_url) if @dgital.image? %>
      <%= f.text_field :remote_image_url %>
    </div>
    <%=f.error_span(:image) %>
  </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                dgitals_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
